<div class="footer">
	<div class="footer-row-1 clearfix">
		<div class="social-wrap">
			<div class="social clearfix">
				<a class="fb" href=""></a>
				<a class="tw" href=""></a>
				<a class="rss" href=""></a>
				<a class="gp" href=""></a>
				<a class="in" href=""></a>
				<a class="pi" href=""></a>
			</div>
		</div>
		<a class="contact-email" href="mailto:hello@palmyreliving.com">hello@palmyreliving.com</a>
		<ul class="footer-menu clearfix">
			<li><a href="">Delivery information</a></li>
			<li><a href="">Privacy policy</a></li>
			<li><a href="">Terms &amp; Conditions</a></li>
			<li><a href="">Return</a></li>
		</ul>
	</div>
	<div class="footer-row-2">
		All right reserved Palmyre 2015
	</div>
</div>