<div class="header">
	<div class="header-top">
		<div class="header-top-row container">
			<a href="">Login</a> | <a href="">Sign Up</a>
		</div>
	</div>
	<div class="mobile-header">
		<button class="btn-user icon-user"></button>
		<button class="btn-menu icon-menu js-nav-btn"></button>
		<ul class="mobile-btns">
			<li><a href="#" class="icon-sale"></a></li>
			<li><a href="#" class="icon-wish"><span>3</span></a></li>
			<li><a href="#" class="icon-cart"><span>10</span></a></li>
		</ul>
		<div class="mobile-nav js-mobile-nav">
			<div class="mobile-nav__search">
				<input type="text" class="mobile-nav__input" placeholder="Search">
				<button class="btn-search icon-search"></button>
			</div>
			<ul class="mobile-nav__list">
				<li>
					<a href="#" class="js-menu-btn">Living<i class="icon-down"></i></a>
					<ul class="mobile-nav__dropdown js-menu-drop">
						<li><a href="#">All</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Cultery</a></li>
						<li><a href="#">Glassware</a></li>
						<li><a href="#">Table Linen</a></li>
						<li><a href="#">Placemats</a></li>
						<li><a href="#">Decorative Accessories</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="js-menu-btn">Tabletop<i class="icon-down"></i></a>
					<ul class="mobile-nav__dropdown js-menu-drop">
						<li><a href="#">All</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Cultery</a></li>
						<li><a href="#">Glassware</a></li>
						<li><a href="#">Table Linen</a></li>
						<li><a href="#">Placemats</a></li>
						<li><a href="#">Decorative Accessories</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="js-menu-btn">Home Accessories<i class="icon-down"></i></a>
					<ul class="mobile-nav__dropdown js-menu-drop">
						<li><a href="#">All</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Cultery</a></li>
						<li><a href="#">Glassware</a></li>
						<li><a href="#">Table Linen</a></li>
						<li><a href="#">Placemats</a></li>
						<li><a href="#">Decorative Accessories</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="js-menu-btn">Gifts<i class="icon-down"></i></a>
					<ul class="mobile-nav__dropdown js-menu-drop">
						<li><a href="#">All</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Cultery</a></li>
						<li><a href="#">Glassware</a></li>
						<li><a href="#">Table Linen</a></li>
						<li><a href="#">Placemats</a></li>
						<li><a href="#">Decorative Accessories</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="js-menu-btn">Fabric and Wallpaper<i class="icon-down"></i></a>
					<ul class="mobile-nav__dropdown js-menu-drop">
						<li><a href="#">All</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Cultery</a></li>
						<li><a href="#">Glassware</a></li>
						<li><a href="#">Table Linen</a></li>
						<li><a href="#">Placemats</a></li>
						<li><a href="#">Decorative Accessories</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="js-menu-btn">Resort Wear<i class="icon-down"></i></a>
					<ul class="mobile-nav__dropdown js-menu-drop">
						<li><a href="#">All</a></li>
						<li><a href="#">China</a></li>
						<li><a href="#">Cultery</a></li>
						<li><a href="#">Glassware</a></li>
						<li><a href="#">Table Linen</a></li>
						<li><a href="#">Placemats</a></li>
						<li><a href="#">Decorative Accessories</a></li>
					</ul>
				</li>
				<li><a href="#">about</a></li>
				<li><a href="#">blog</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</div>
	</div>
	<div class="header-menu-wrap">
		<div class="container">
			<div class="header-logo-row clearfix">
				<div class="side-logo">
					<a href="">
						<!-- <img title="Solutions for smooth IT management" alt="Astrofarm" src="img/logo-mobile.png"> -->
						<img title="Oslo’s oasis for effortless living" alt="Palmyre" src="img/logo.png">
					</a>
				</div>
				<div class="logo-wrap">
					<div class="logo">
						<a href="">
							<!-- <img title="Solutions for smooth IT management" alt="Astrofarm" src="img/logo-mobile.png"> -->
							<img title="Oslo’s oasis for effortless living" alt="Palmyre" src="img/logo2.png">
						</a>
					</div>
					<h2 class="tagline">
						Oslo’s oasis for effortless living
					</h2>
				</div>
				<a class="cart" href="">
					Cart<strong>10.567,00kr (5)</strong>
				</a>
				<a class="wish-list" href="">
					Wish List<strong>(5)</strong>
				</a>
				<a class="menu-sale" href="">
					Sale!
				</a>
			</div>
			<div class="header-menu-row clearfix">
				<ul id="header-menu-left" class="header-menu clearfix">
					<li>
						<a href="">Living</a>
						<div class="submenu">
							<div class="submenu-title">Living</div>
							<ul>
								<li><a href="">All</a></li>
								<li><a href="">China</a></li>
								<li><a href="">Cultery</a></li>
								<li><a href="">Glassware</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="">Tabletop</a>
						<div class="submenu">
							<div class="submenu-title">Tabletop</div>
							<ul>
								<li><a href="">All</a></li>
								<li><a href="">China</a></li>
								<li><a href="">Cultery</a></li>
								<li><a href="">Glassware</a></li>
								<li><a href="">Table Linen</a></li>
								<li><a href="">Placemats</a></li>
								<li><a href="">Decorative Accessories</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="">Home Accessories</a>
						<div class="submenu">
							<div class="submenu-title">Home Accessories</div>
							<ul>
								<li><a href="">Home Accessories</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="">Gifts</a>
						<div class="submenu">
							<div class="submenu-title">Gifts</div>
							<ul>
								<li><a href="">All</a></li>
								<li><a href="">China</a></li>
								<li><a href="">Cultery</a></li>
								<li><a href="">Glassware</a></li>
								<li><a href="">Table Linen</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="">Fabric and Wallpaper</a>
						<div class="submenu is-right">
							<div class="submenu-title">Tabletop</div>
							<ul>
								<li><a href="">All</a></li>
								<li><a href="">China</a></li>
								<li><a href="">Cultery</a></li>
								<li><a href="">Glassware</a></li>
								<li><a href="">Table Linen</a></li>
								<li><a href="">Placemats</a></li>
								<li><a href="">Decorative Accessories</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="">Resort Wear</a>
						<div class="submenu is-right">
							<div class="submenu-title">Tabletop</div>
							<ul>
								<li><a href="">All</a></li>
								<li><a href="">China</a></li>
								<li><a href="">Cultery</a></li>
								<li><a href="">Glassware</a></li>
								<li><a href="">Table Linen</a></li>
								<li><a href="">Placemats</a></li>
								<li><a href="">Decorative Accessories</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<ul id="header-menu-right" class="header-menu clearfix">
					<li><a href="">Brands</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>